<style type="text/css">
    #ssb_alexa_blue {
        background-color: #3366ff;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #3366ff;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_alexa_ocean {
        background-color: #00a0d2;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #00a0d2;
        white-space: nowrap
    }
    #ssb_alexa_sand {
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: 90%;
        color: #00a0d2;
        position: relative;
        top: -1px;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_alexa_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #00a0d2;
        position: relative;
        top: -1px;
        border-color: #00a0d2;
        border-style: solid;
        border-width: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_blue {
        background-color: #257ACF;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_catalog_orange {
        background-color: #E36000;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        border-radius: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_catalog_red {
        background-color: #D90000;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_dark_blue {
        color: white;
        background-color: darkblue;
        border-radius: 3px;
        padding: 0px 6px;
        white-space: nowrap
    }
    #ssb_grafana_blue {
        background-color: #00678b;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #00678b;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_grafana_green {
        background-color: #629300;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #629300;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_grafana_orange {
        background-color: #ec8427;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #ec8427;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_grey {
        background-color: #DEDEDE;
        font-weight: bold;
        font-size: 90%;
        color: #444;
        position: relative;
        top: -1px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #444;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_grey_square {
        background-color: #DEDEDE;
        font-weight: bold;
        font-size: 90%;
        color: #444;
        position: relative;
        top: -1px;
        border-radius: 1px;
        border-width: 1px;
        border-style: solid;
        border-color: #444;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_iot_blue {
        background-color: #00A1C9;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #00A1C9;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_iot_grey {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: gray;
        position: relative;
        top: -1px;
        border-color: gray;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_iot_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #00A1C9;
        position: relative;
        top: -1px;
        border-color: #00A1C9;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_kibana_blue {
        background-color: #0079a5;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #0079a5;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_kibana_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #0079a5;
        position: relative;
        top: -1px;
        border-color: #0079a5;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_lambda_orange {
        background-color: #ec7211;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_lambda_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #545b64;
        position: relative;
        top: -1px;
        border-color: #545b64;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_maroon {
        color: white;
        background-color: darkred;
        border-radius: 3px;
        padding: 0px 6px;
        white-space: nowrap
    }
    #ssb_orange {
        background-color: #ec7211;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssl_orange {
        color: #ec7211;
        font-weight: bold
    }
    #ssb_orange_oval {
        background-color: #ec7211;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        white-space: nowrap
    }
    #ssb_oval {
        background-color: #DEDEDE;
        font-weight: bold;
        font-size: 90%;
        color: #444;
        position: relative;
        top: -1px;
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: #444;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_start_lab {
        background-color: #34A853;
        font-weight: bold;
        font-size: 90%;
        color: white;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px
    }
    #ssb_open_console {
        background-color: white;
        font-family: Google Sans;
        font-weight: bold;
        font-size: 90%;
        color: #1a73e8;
        border-color: #dadce0;
        border-radius: 4px;
        border-width: 2px;
        border-style: solid;
        outline-color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px
    }
    #ssb_rds_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #545b64;
        position: relative;
        top: -1px;
        border-color: #545b64;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_red {
        background-color: #D93025;
        font-weight: bold;
        font-size: 90%;
        color: white;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px
    }
    #ssb_red_oval {
        background-color: #D93025;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        white-space: nowrap
    }
    #ssb_s3_blue {
        background-color: #329AD6;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_s3_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #329AD6;
        position: relative;
        top: -1px;
        border-color: #329AD6;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_services {
        background-color: #232f3e;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_square_lex {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #1166bb;
        position: relative;
        top: -1px;
        border-color: #c4cbcd;
        border-style: solid;
        border-width: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px
    }
    #ssb_ssm_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #545b64;
        position: relative;
        top: -1px;
        border-color: #545b64;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssb_white {
        background-color: white;
        font-weight: bold;
        font-size: 90%;
        color: #545b64;
        position: relative;
        top: -1px;
        border-color: #545b64;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssbox_cloudformation_blue {
        font-weight: bold;
        background-color: #f1faff;
        font-size: 90%;
        border-color: #00A1C9;
        border-width: 1px;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ssl_alexa_ocean {
        color: #00a0d2;
        font-weight: bold
    }
    #ssl_blue {
        color: #1166bb;
        font-weight: bold
    }
    #ssl_catalog_orange {
        color: #E16706;
        font-weight: bold
    }
    #ssb_codestar_blue {
        background-color: #329AD6;
        font-weight: bold;
        font-size: 80%;
        color: white;
        position: relative;
        top: -1px;
        border-radius: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    #ssb_cognito_blue {
        background-color: #2a7fd4;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #0055aa;
        border-radius: 2px;
        white-space: nowrap
    }
    #ssb_eb_blue {
        background-color: #0f6dca;
        font-weight: bold;
        font-size: 90%;
        color: white;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #0055aa;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        white-space: nowrap;
    }
    #ssb_eb_grey {
        background-color: #e5e5e5;
        font-weight: bold;
        font-size: 90%;
        color: 444444;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: #bbbbbb;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        white-space: nowrap
    }
    #ssb_voc_grey {
        background-color: #F2F3F4;
        font-size: 90%;
        color: black;
        position: relative;
        top: -1px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: grey;
        border-width: 1px;
        border-style: solid;
        white-space: nowrap
    }
    table, th, td{
    border: 2px solid black;
    }
</style>
